<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); %>
</head>
<body>
<%- include('partials/header'); %>
<div class="container">
    <a class="btn" href="/login"><i class="material-icons right">arrow_forward</i>Log In</a>
</div>
</body>
</html>